<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/css/login.css" media="all"/>
<body>
<div class="login">
    <div class="login-box">
        <div class="logo"></div>
        <div class="title-22" style="margin-top:50px;margin-bottom:35px;">用户管理系统</div>
        <input type="text" placeholder="输入框默认内容"/>
        <input class="password" type="text" placeholder="输入密码"/>
        <div class="login-label">
            <label class="icon-check" id="check">
                <input type="checkbox" class="checkbox" name="rememberMe" id="rememberMe"/>
            </label>
            <span class="tip">记住用户名和密码</span>
        </div>
        <button class="btn">登录</button>
    </div>
</div>
</body>
</html>